@import "tailwindcss";
@import "@fontsource-variable/inter";

/* Supports weights 200-900 */
@import '@fontsource-variable/nunito/wght.css';

body {
  font-family: 'Nunito Variable', sans-serif;
}

html, #root, body {
  min-height: 100vh;
  /* background-color: #000; */
}

#root {
 display: flex;
 flex-direction: column;
}


